<form class="crud-form" name="form1" action="/controllerUpdate" method="post">
    <input class="crud-input" type="hidden" name="id" id="id" value="{{ id }}" placeholder="ID">
    <input class="crud-input" type="text" name="name" id="name" value="{{ name }}" placeholder="Name">
    <input class="crud-input" type="text" name="age" id="age" value="{{ age }}" placeholder="Age">
    <input type="submit" value="Edit" class="crud-submit" name="btnSubmit" id="btnSubmit">
</form>